/* Estilos base */
:root {
    --primary-color: #ff4081;
    --secondary-color: #6c63ff;
    --font-body: "Roboto", sans-serif;
    --font-title: "Montserrat", sans-serif;
    }

    * {
    font-family: var(--font-body), sans-serif;
    }

    body {
    padding: 5% 3%;
    }

    input {
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    }

    input:focus {
    border-color: var(--secondary-color);
    transition: border-color 0.3s ease;
    }

    *:focus {
    outline: 2px dashed var(--secondary-color);
    outline-offset: 2px;
    }

    h1,
    h2,
    h3 {
    font-size: calc(12px + 1.5vw);
    }

    .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }

    .card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 0%;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    overflow: hidden;
    }

    .card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
    }

    .card img {
    width: 100%;
    }

    /* Pequeños ajustes para tablets */
    @media (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(
        2,
        1fr
        ); /* Dos columnas en vez de tres o cuatro */
    }
    }

    /* Ajustes para móviles */
    @media (min-width: 1024px) {
    .card-grid {
        grid-template-columns: repeat(
        3,
        1fr
        ); /* Tres columnas para pantallas grandes */
    }

    body {
        padding: 20px 10%; /* Mayor espaciado lateral en pantallas grandes */
    }
}
